Q1. Create one variable containing following type of data:

In [1]:
#string
var1 = "Hello World"
var2 = [1, 2, 3, 'a', 'b', 'c']
var3 = 12.34
var4 = (1, 2, 3, 4)

In [2]:
print( type(var1) )
print( type(var2) )
print( type(var3) )
print( type(var4) )

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

(i) String
(ii) String
(iii) List
(iv) Float

In [ ]:
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [ ]:
print( 9/2 ) #gives quotient of 9 divided by 2
print( 9%2 ) #gives remainder of 9 divided by 2
print( 9//2 ) #gives quotient of 9 divided by 2 but in int type 
print( 9**2 ) #gives value of 9 raised to 2

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [ ]:
list = [1, 2, ('flower', 'fruit'), 4.5, 6.5, 'a', 'b', 'abc34fg', 'hello world',  ['c', 'd']]
len(list)

In [ ]:
for item in list:
    print(item)
    print( type(item) )
    print()

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
var1 = int(input("Enter a number: "))
var2 = int(input("Enter a number: "))

flag=count=0

while var1%var2==0:
    flag=1
    count+=1
    var1=var1//var2
    
if flag==1:
    print(var1, "is divisible by", var2, "," , count, "times")
else:
    print(var1, "is not divisible by", var2)

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [ ]:
import random
list = [random.randint(1, 100) for _ in range(25)]

for item in list:
    if item%3==0:
        print(item, "is divisble by 3")
    else:
        print(item, "is not divisble by 3")

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [ ]:
#Mutable data types: Data types which can be modified later on after its creation
 
l = [1, 2, 3, 4]
l[0] = 1.1  #changing first element of the list is possible
print(l)

In [ ]:
#Immutable data types: Data types which cannot be modified after its creation
 
t = (1, 2, 3, 4)
t[0] = 1.1     #gives error
print(t)